/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Lato', Helvetica, Arial, sans serif;
	color: #999999;
    font-size: 1em;
    line-height: 1.4;
	background-color: #333; 
    background-image: -ms-linear-gradient(top, #111, #333); 
    background-image: -moz-linear-gradient(top, #111, #333); 
    background-image: -o-linear-gradient(top, #111, #333);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111), to(#333));
    background-image: -webkit-linear-gradient(top, #111, #333);
    background-image: linear-gradient(top, #111, #333);
    background-repeat: repeat-x; 
    background-size: 100% auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e26805;
	color: #fff;
    text-shadow: none;
}

::selection {
    background: #e26805;
	color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, button, input, select, textarea { font-family: 'Lato', sans-serif; font-weight: 400; color: #999999; }

h1 {
    padding-bottom: 5px;
    color: #e26805;
    font-family: 'Lato', sans-serif;
	font-weight: 100;    
}

h2 {
    padding-bottom: 5px;
	font-family: 'Lato', sans-serif;
    color: #ffffff;    
}

h3 {
    padding-bottom: 5px;
    color: #e26805;
	font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

h4 {
    padding-bottom: 5px;
    color: #ffffff;
	font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase; 
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

footer {
    margin-top: 50px;
    padding-bottom: 5em;
    font-size: 0.75em;
    color: #555555;
}

p {
    margin-bottom: 1.75em;
}

#footercol1 {
    margin-left: -255px;
    float: left;
    width: 200px;
}

#footercol2 {
    float: left;
    width: 600px;
}

/* =============================================================================
   Links
   ========================================================================== */

a { 
    text-decoration: none; 
    color: #999999;
    border-bottom: 1px solid #999999;
    padding-bottom: 2px;
}

a:visited { 
    color: #E3D7BF; 
    text-decoration: none;
    border-bottom: none;
}

a:hover { 
    color: #e26805; 
    text-decoration: none;
    border-bottom: 1px solid #e26805;
    padding-bottom: 2px;
}

a:focus { outline: thin dotted; }

a.title:link { text-decoration: none; color: #e26805; border-bottom: none; }
a.title:visited { text-decoration: none; color: #e26805; border-bottom: none; }
a.title:hover { text-decoration: none; color: #ffffff; border-bottom: none; }
a.title:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { 
    margin: 1em 40px;
    padding: 2px 25px 2px 25px;
    border-left: 1px solid #e26805;
    color: #999;
    font-size: 85%;
}

dfn { font-style: italic; }

/* hr { display: block ; height: 1px; border: 0; border-top: 1px solid #e26805; margin: 2.5em 0; width: 50%; margin-left: auto; margin-right: auto; } */

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { 
    margin: 1em 0; 
    padding: 0 0 0 36px;     
}

ul
{
    list-style: none;
}

ul li:before {
	content: "\002B \0020";
	color: #e26805; 
    text-shadow: 1px 1px 0px #000;
	}

dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 3px solid #555555; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
