html {
	-webkit-font-smoothing: antialiased;
}
/* Download Source Code Pro font family at
 * http://sourceforge.net/projects/sourcecodepro.adobe/ 
 */
body {
	font-family: Source Code Pro, Courier, monospace;
	color: #e26805;
	font-size: .9em; 
    line-height: 1.5; 
	background-color: #222222; 
    background-image: -ms-linear-gradient(top, #111111, #222222); 
    background-image: -moz-linear-gradient(top, #111111, #222222); 
    background-image: -o-linear-gradient(top, #111111, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#222222));
    background-image: -webkit-linear-gradient(top, #111111, #222222);
    background-image: linear-gradient(top, #111111, #222222);
    background-repeat: repeat-x; 
    background-size: 100% auto;
}
::-moz-selection { background: #e26805; color: #fff; text-shadow: none; }
::selection { background: #e26805; color: #fff; text-shadow: none; }
.tabs {
	font-family:HalfWidthSpace;
}
.code, .codeblock {
	font-family: Source Code Pro, Courier, monospace;
//}
//.code, .codeblock > .content > .text {
//	background: rgb(90%,90%,90%);
//}
//.empty + .codeblock > .content, .codeblock + .empty > .content { 
//	border-top: 0.5rem solid rgb(85%,85%,85%);
//}
.blockquote {
	font-style:oblique;
}
.blockquote > .content > .lead.syntax,
.unordered > .content > .lead.syntax,
.ordered > .content > .lead.syntax,
.heading > .content > .lead.syntax,
.heading > .content > .trail.syntax   {
	color: #e26805;
}
.headerLeadSyntaxText:hover {
	text-decoration:underline;
	cursor: pointer;
}
.htmltag {
	color: #999999;
}
.htmltag-attributevalue {
	color: #999999;
}
@font-face {
	font-family: CourierFoldEllipse;
	src: url('./fonts/CourierFoldEllipse.ttf');
}
.foldafter .content:after {
	font-family: CourierFoldEllipse;
	font-style:normal;
	font-weight:normal;
	content:" …";
}
.editorTopFold {
	color: #e26805;
	background-color: #222222; 
    background-image: -ms-linear-gradient(top, #111111, #222222); 
    background-image: -moz-linear-gradient(top, #111111, #222222); 
    background-image: -o-linear-gradient(top, #111111, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#222222));
    background-image: -webkit-linear-gradient(top, #111111, #222222);
    background-image: linear-gradient(top, #111111, #222222);
    background-repeat: repeat-x; 
    background-size: 100% auto;
}
@font-face {
	font-family: CourierBulletDone;
	src: url('./fonts/CourierBulletDone.ttf');
}
@font-face {
	font-family: CourierBulletNotDone;
	src: url('./fonts/CourierBulletNotDone.ttf');
}
.unordered.todoMode .lead {
	font-family:CourierBulletNotDone;
}
div[done].unordered.todoMode .lead {
	font-family:CourierBulletDone;
}
